.shop-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.shop-img img {
    object-fit: contain;
    height: 300px;
    width: 400px;
    
}

.shop-btn {
   background: #000;
   color: #FFF;
   border-style: solid;
   border-color: #000;
   height: 20px;
   width: 120px;
   text-align: center;
   font-weight: bold;
   font-size: 15px;
   text-shadow: none;
}

.shop-btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}


.main-shop {
    padding-bottom: 300px;
}

.shop-imgs {
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
}

.shop-imgs:hover {
    transform: scale(1.1);
}